body{
    margin: 0;
    padding: 0;
}
#header{
    font-family: Header;
}
#educator{
   width: 11%;
   height: 65px;
   padding:0;
   margin: 0;
   margin-left: 35px;
}
#nava{
    float: right;
}
.navabar{
    text-decoration: none;
    padding: 20px;
    padding-right: 10px;
    display: inline-block;
    color: black;
    font-size: 14px;
    box-sizing: border-box;
    font-weight: 700;
}
.icon{
    padding: 20px;
    color: black;
    font-size: 14px;
}
#imagebodymargin{
    margin: 10px 50px;
}
#imagebody{
    height: auto;
    width: 100%;
    display: inline-block;
}
#firstimage{
    width: 50%;
    display: inline-block;
}
#first_wrapper{
    background-color: aquamarine;
    width: 100%;
    height: 600px;}
#firstbox_1{
    background-color: bisque;
    height:300px ;
    width: 100%;
}  
#firstimage_1{
    height: 300px;
    width: 50%;
    display: inline-block;
} 
.img1{
    width: 100%;
    height: 300px;
    z-index: 1;
    position: relative;
}
#titlebox_1{
    font-family: Header;
   color: white;
   z-index: 3;
   position: absolute;
   top: 22%;
   left: 79px;
   text-align: left;
   font-weight: 700;
   font-size: 20px;
   line-height: 30px;
}
#earthicon_font{
   text-decoration: none;
   color: white;
   font-size: 15px;
}
#earthicon{
    font-size: 30px; 
}
#firstimage_11{
    background-color: cyan;
    height: 300px;
    width: 50%;
    float: right;
} 
#firstbox_2{
    background-color: rgb(252, 245, 245);
    height: 300px;
    width: 100%;
}
#firstimage_2{
    height: 300px;
    width: 50%;
    display: inline-block;
}
#titlebox_2{
    font-family: Header;
    margin-top: 50px;
    padding-left: 25px;
    margin-bottom: 30px;
    line-height: 1.8em;
    font-size: 20px;
}
#titlebox_2para{
    text-decoration: none;
    font-size: 16px;
    color: black;
}
#firstimage_22{
    background-color:#fed072 ;
    height: 300px;
    width: 50%;
    float: right;
}
#firstimagepara{
    color: white;
    text-align: left;
    font-size: 30px;
    padding-top: 75px;
    padding-left: 23px;

}
#secondimage{
    width: 50%;
    float: right;
}
#second_wrapper{
    background-color: blue;
    width: 100%;
    height: 600px;
}
#img2{
    width: 100%;
    height: 600px;
}
#secondtitlebox_2{
    background-size: cover;
    background-repeat: no-repeat;
}
.font1{
    position: absolute;
    font-family: Header;
    color: white;
}
#font_1{
    top:28% ;
    margin-left: 5%;
    font-size: 20px;
}
#font_2{
    position: absolute;
    top:35% ;
    margin-left:5% ;
    font-size: 39px;
}
#font_3{
    position: absolute;
    top: 60%;
    margin-left: 5%;
    font-size: 16px;
    line-height: 30px;
}
#buttom{
    position: absolute;
    text-decoration: none;
    margin-left: 5%;
    top: 85%;
    border: none;
    text-align: center;
    color: beige;
    padding: 20px 14px;
}
